<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Kharagpur</title>

     <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <!-- Custom CSS & Icon -->
  <link rel="stylesheet" href="css/sports.css">
  <link rel = "icon" href ="icon/logo.png" type = "image/x-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container heading">
        <a href="/"><h1 data-toggle="tooltip" data-placement="bottom" title="Click to visit Home Page">Sports</h1></a>
    </div>
    <div class="container body">
        <p>
            <h1>G</h1>ames and sports are not only important for success in studio but it is important for success in every walks of our life. IIT Kharagpur wishes that students perform the best in every field and hence provides its students with world class facilities for sports and games as well. The campus has two stadiums namely Jnan Ghosh and Tata Sports Complex for various games like Hockey, Football, Cricket and Athletics. Apart from these, the campus also has a fully modernized Aquatic Center for sports like Swimming and Water Polo. The Student Activity Center - Technology Students' Gymkhana also hosts, an Indoor Squash Court, Indoor Badminton Courts, Pool Tables, Tennis Courts, and a fully modernized Gymnasium, facilities for Weightlifting, Basketball Courts, Volleyball Court and Table Tennis.
<br><br>Also every Hall of Residence encourages its hall boarders to actively participate in all the sports events conducted throughout the year as a part of the General Championships. Some halls even provide sports facilities of their own to their boarders so that they stay fit and practice daily bringing laurels to the hall as well as IIT Kharagpur. The Institute also encourages active participation of the students in sports especially through events like the General Championship and the prestigious annual Inter-IIT Sports Meet. Inter IIT sports meet is zealously organized every year in which brilliant athletes from each IIT participateto make their institute proud. Just to give you an insight into the scale of the events, the chief guest of last Inter IIT opening ceremony was Sachin Tendulkar.
        </p>
    </div>
    <script>
        $(()=>{ $('[data-toggle="tooltip"]').tooltip()});
    </script>
</body>
</html>